<div class="parallax-products">
  <div class="threeD">Try some Meal Plans</div>
</div>
<div class="grid-container-items">
  {{#each meal}}
        <div class="card">
         <img src="../images/veggie.png" alt="Denim Jeans" width="250em" height="250em" style="width:100%">
         <h3>{{this.name}}</h3>
         <p class="price">${{this.price}}.00</p>
         <p>{{this.desc}}</p>
         <p><button>Add to Cart</button></p>
        </div>
  {{/each}}
  </div>
</div>
